<header>
    <section class="hero is-small is-dark is-bold">
        <div class="hero-body">
          <div class="container">
              <div class="columns">
                  <div class="column is-one-quarter-desktop is-half-tablet">
                  
            <h1 class="title" style="font-weight:200;">  
                <a href="<%=url_for_lang('') %>"> 
                  <%= __('logo_name') %><span class="tag is-danger" style="vertical-align:super;"><%= __('unabridged') %></span>
                </a> 
              </h1>
                  </div>
                  <div class="column">
                      <figure>
                          <%- image_tag("images/logo.png",{alt:"上官海铃的焦虑 全身特写"})%>
                      </figure></div>
                  <div class="column">
                    
                  </div>
                </div>
            
          </div>
        </div>
      </section>
</header>