<section class="hero is-light is-large">
    <div class="hero-body hero-bg">
      <div class="container">
        <div class="title">
                <div class="content">
                    <%- page.content %>
                </div>
        </div>
      </div>
    </div>
  </section>
 