

<section class="section">
        <div class="container is-fluid">
          <ul>
            <% page.imgs.forEach(function(img){%>
                <li style="text-align:center" >
                    <%- image_tag("images/shangguan/"+page.lang+"/"+page.title+"/"+img,{alt:page.title})%>
                </li>
            <% }) %>
            </ul>
        </div>
      </section>
      
      <style>
            .page-box{
                position:fixed;top:90%;right:25%;
            }
        </style>
            <div class="field has-addons page-box">
                
                    <%if(page.prev){%>
                    <p class="control">
                      <a class="button is-primary" href="<%=url_for_lang(page.prev.path)%>" title="pre page">
                        <span class="icon is-small">
                          <i class="fas fa-arrow-left"></i>
                        </span>
                      </a>
                    </p>
                    <%}%>
                    <%if(page.next){%>
                    <p class="control">
                      <a class="button is-primary" href="<%=url_for_lang(page.next.path)%>" title="next page">
                        <span class="icon is-small">
                          <i class="fas fa-arrow-right"></i>
                        </span>
                      </a>
                    </p>
                    <%}%> 
                  </div>
<figure class="is-hidden-touch" style="position:fixed;bottom:0px;right:5px;">
        <%- image_tag("images/tsai.png",{alt:"蔡",class:"image"})%>
    </figure>